node_modules
**/node_modules

dist
**/dist
coverage
**/coverage

apps/web
docs

.git
.github
.vercel

.env
.env.*
!.env.example

notes
docs/_drafts
docs/work

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea
.vscode
